.Mainproduct{
    display: flex;
    flex-direction: row;
}

.mainproduct-cards{
    width: 82%;
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 2vw;
    height: 90vh;
    overflow: auto;
}

.mainProduct-card{
    height: 60vh;
    width: 18vw;
    flex-grow: 1;
    box-shadow: 0px 1px 3px black;
}

.card-image{
    height: 70%;
}

.card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 90%;
}


.card-info{
    height: 30%;
}

.card-name{
    padding: 0vh 1vw;
    font-size: large;
    font-weight: 900;
    color: rgb(84, 80, 80);
    height: 8vh;
}

.card-price{
    padding: 0.5vh 1vw;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-button{
    padding: 1vh 2vw;
    border-radius: 1vh;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    width: 50%;
    font-size: 12px;
    transition: 500ms;
}

.card-button:hover{
    background-color: blueviolet;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}